<app-notifications></app-notifications>
<app-hotels-filter></app-hotels-filter>

<div class="root">
  <app-list
    [hotels]="hotels"
    [selectedHotel]="selectedHotel"
    (selectHotel)="selectHotel($event)"
  ></app-list>
  <app-weather [weather]="selectedHotel.weather"></app-weather>
  <app-profile [profile]="selectedHotel.profile"></app-profile>
  <app-favorite-hotels></app-favorite-hotels>
</div>

<!-- для advanced
      - нотификации
            - 'Добавлено в favorites!'
            - 'Удалено из favorites!'
            - Если элемент уже есть в списке favorites
                  - или попап что уже добавлен
                  - или считать колличетсво нажатий (voted - IFavoriteHotel расширить полем от IHotel)
- сделать загрузку hotels асинхронной (setTimeout, 3 sec) -
- для advanced - можно сделать спискок this.hotels$ = of(mockedHotels).pipe(delay(3000))
- для advanced - кастомная директива, навешиваем на hotels list, пока гдузиться сделать оверлей над списком
- Loading... текст вместо директивы - попроще
- подсвечивать четные отели другим цветом (зебра) -->
